registry=https://registry.npmmirror.com/
puppeteer-download-base-url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
puppeteer_download_host="https://cdn.npmmirror.com/binaries"
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
sharp_binary_host=https://registry.npmmirror.com/sharp
sharp_libvips_binary_host=https://registry.npmmirror.com/sharp-libvips
