@jeff-tian:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
registry=https://registry.npmmirror.com/
puppeteer-download-base-url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
puppeteer_download_host="https://cdn.npmmirror.com/binaries"
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"

